# Ignorar archivos .env
.env
# Ignorar todo el contenido dentro de las carpetas config y data
**/config/**
**/data/**
# Pero volver a incluir las carpetas config y data
!**/config/
!**/data/
# Mantener solo los archivos .gitkeep
!**/config/.gitkeep
!**/data/.gitkeep
